
.footer {
    background-color: #adb6fe;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 15vh;
    padding-bottom: 5vh;
    position: relative;
    bottom: 0px;
}

.credits {
    color: #000;
    padding-left: 3vw;
    padding-top: 5vh;
}

.credits a {
    color: #387555;
}

.finished {
    margin-left: 15vw;
    font-size: 3vw;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #387555;
    color: #387555;
}