.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    //background-image: url('/public/images/banners/green-triangle.jpg');
    background-color: #88adff;
    font-family: 'Prosto One', serif;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: fixed;
}

.title {
    font-size: 7vw;
    color: #adb6fe;
    text-shadow: 5px 5px 10px #1f5da4;
}

.section-barre {
    font-size: 2vw;
    padding: 2vw;
    display: flex;
    text-decoration: underline;
    color: #adb6fe;
    &-element {
        padding-right: 2vw;
        text-shadow: 2px 0px 10px #1f5da4;
    }
}



.contact-barre {
    font-size: 2vw;
    padding: 2vw;
    display: flex;
    text-decoration: underline;
    color: #adb6fe;
    &-element {
        padding-left: 2vw;
        text-shadow: 2px 0px 5px #1f5da4;
    }
}
