
.main {
    width: 100%;
    max-width: 100%;
    background-color: #eaeaea;
    padding-bottom: 10vh;
}

.citation {
    background-color: #eaeaea;
    padding-top: 15vh;
}

#citation {
    font-size: 2.5vw;
    width: 70vw;
    padding-left: 25vw;
    padding-top: 5vh;
    color: #5e65a0;
}

.little-title {
    font-size: 3.9vw;
    text-decoration: underline;
    color: #5e65a0;
}

.article-info {
    margin-left: 5vw;
    padding-top: 10vh;
    margin-bottom: 5vh;
    width: 40vw;
    height: auto;
    padding-bottom: 2vh;
    color: #5e65a0;
}

.text-article {
    padding-top: 4vh;
    padding-left: 8vw;
    width: 30vw;
}

/* Partie New Class */

.classes {
    width: 100%;
    height: auto;
    &-container {
        display: flex;
        flex-direction: row;
        margin-left: 10vw;
        justify-content: space-around;
        width: 50vw;
    }
    &-article {
        width: 30vw;
        height: auto;
        border: 1px solid #5e65a0;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
}

.new-class {
    display: flex;
    align-items: center;
    width: 25vw;
    height: 5vh;
    font-size: 1.5vw;
    font-family: 'Prosto One', serif;
    transition: opacity 1s;
    opacity: 30%;    
    &:hover {
        transition: opacity 1s;
        opacity: 100%;
    }
    &-intro {
        padding-top: 5vh;
        padding-left: 5vw;
        padding-bottom: 5vh;
    }
}

#new-class-more {
    padding-left: 2vw;
    padding-right: 0.6vw;
    font-size: 3vw;
}

.class {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 1px;
    padding: 1vw;
    border: 1px solid #a2a2a2;
    background-color: #eae7e7;
    &-creater {
        width: 100%;
        height: auto;
    }
    &-create-title {
        padding-top: 3vh;
        padding-left: 2vw;
    }
    &-container {
        margin-top: 15vh;
        margin-left: 5vw;
        width: 45vw;
        height: auto;
        border: 1px solid #424bfe;
        border-radius: 20px;
        padding: 5px;
        background-color: #adb6fe;
        &-student {
            padding: 5px;
        }
    }
    &-manager {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        
    }
    &-menu {
        margin-top: 5vh;
        margin-left: 1vw;
        margin-right: 1vw;
        width: 45vw;
        background-color: #bbc3ff;
        border: 1px solid #004695;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        animation-name: slideLeft;
        animation-duration: 1.2s;
        animation-iteration-count: 1;
    }
}

/* Class Creater */ 

.creater-title {
    padding-top: 10vh;
    padding-bottom: 6vh;
    text-decoration: underline;
    padding-left: 4vw;
    font-size: 4vw;
}

#class-level-definer {
    margin-left: 10vw;
    font-size: 3vw;
    color: #478b64;
    border-radius: 20px;
    font-family: 'Prosto One', serif;
    border: 1px solid #5e65a0;
}

#letter-choice {
    margin-left: 10vw;
    width: 10vw;
    padding: 0.4vw;
    border-radius: 15px;
    border: 1px solid #5e65a0;
    font-size: 2vw;
}

.name-choice {
    margin-top: 1vh;
    font-size: 2vw;
    margin-left: 10vw;
    width: 15vw;
    padding: 0.4vw;
    border-radius: 15px;
    border: 1px solid #5e65a0;
    font-family: 'Prosto One', serif;
}

.student {
    &-manager {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        margin: 5px;
        width: 43vw;    
        background-color: #bdc3ff;
    }
    &-menu {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    &-note-grid {
        padding-top: 1vh;
        padding-bottom: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.new-student {
    color: #5e65a0;
    border: 1px solid #434a8b;
    border-radius: 20px;
    padding: 5px;
    font-size: 2vw;
    margin-top: 2vh;
    margin-left: 10vw;
    font-family: 'Prosto One', serif;
}

.students-list {
    margin-top: -20vh;
    margin-left: 50vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 35vw;
    height: 48vh;
    border: 1px solid #5e65a0;
    border-radius: 10px;
}

.model-student {
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}


.subject-notes {
    height: auto;
    padding-top: 2vh;
    padding-left: 2vw;
}

.note {
    padding-left: 5vw;
    &-menu {
        margin-top: 15vh;
        margin-left: 1vw;
        margin-right: 1vw;
        width: 45vw;
        height: auto;
        background-color: #adb6fe;
        border-radius: 20px;
        border: 1px solid #281cab;
        font-family: 'Prosto One', serif;
        animation-name: slideLeft;
        animation-duration: 1.2s;
        animation-iteration-count: 1;
    }
    &-input {
        width: 5vw;
        border: 1px solid #d3f6e2;
        margin-top: 0.7vh;
        margin-bottom: 0.6vh;

        &:focus {
            outline: 1px solid #28b0ff;
        }

        &-header {
            padding-left: 0.5vw;
            padding-bottom: 0.7vh;
            padding-top: 1vh;
        }

    }
    &-subject-definer {
        margin-top: 1vh;
        font-size: 1.5vw;
        color: #5e65a0;
        font-family: 'Prosto One', serif;
        border: 1px solid #3d4376;
        border-radius: 8px;
        outline: none;
    }
}

.new-note {
    margin-top: 16vh;
    padding: 0.7vw;
    font-family: 'Prosto One', serif;
    border: 2px solid #41477e;
    border-radius: 20px;
    color: #5e65a0;
    background-color: #e7e6e6;
    &-button {
        padding: 1vw;
        background-color: #6678fd;
        color: #fff;
        font-family: 'Prosto One', serif;
        border: none;
        border-radius: 15px;
        transition: 1s all;

        &:hover {
            transition: 1s all;
            transform: scale(1.5);
        }

    }
}

.menu-selector {
    
    transition: all 1s;
    border: 1px solid #adb6fe;
    border-radius: 20px;
    height: auto;
    padding: 1vh 4vh 1vh 4vh;

    &:hover {
        transition: all 1s .5s;
        border: 1px solid #5061b3;
    }
    &-container {
        display: flex;
        width: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin-bottom: 3vh;
    }
    &-closer {
        width: 1.5vw;
        height: 2vh;      
    }
}

@keyframes slideLeft {
    0% {
        width: 0vw;
        opacity: 0%;
    }   
    50% {
        opacity: 15%;
    }
    75% {
        color: #414883;
    }
    100% {
        width: 45vw;
    }
}
