
.main {
    width: 100%;
    max-width: 100%;
}

#citation {
    font-size: 2.5vw;
    padding-left: 25vw;
    padding-top: 5vh;
    color: #478b64;
}

.little-title {
    font-size: 3.9vw;
    text-decoration: underline;
}

.article-info {
    margin-left: 5vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 40vw;
    height: auto;
    /* border: 1px solid #000;
    border-radius: 30px; */
    padding-bottom: 2vh;
    color: #478b64;
}

.text-article {
    padding-top: 4vh;
    padding-left: 8vw;
    width: 30vw;
}

/* Partie New Class */

.classes {
    width: 100%;
    height: auto;
    &-container {
        display: flex;
        flex-direction: row;
        margin-left: 10vw;
        justify-content: space-around;
        width: 50vw;
    }
    &-article {
        width: 30vw;
        height: auto;
        border: 1px solid #478b64;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
}

.new-class {
    display: flex;
    align-items: center;
    width: 25vw;
    height: 5vh;
    font-size: 1.5vw;
    font-family: 'Prosto One', serif;
    transition: opacity 1s;
    opacity: 30%;    
    &:hover {
        transition: opacity 1s;
        opacity: 100%;
    }
    &-intro {
        margin-top: 5vh;
        padding-left: 5vw;
        margin-bottom: 5vh;
    }
}

#new-class-more {
    padding-left: 2vw;
    padding-right: 0.6vw;
    font-size: 3vw;
}

.class {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 1px;
    padding: 1vw;
    border: 1px solid #a2a2a2;
    background-color: #eae7e7;
    &-creater {
        width: 100%;
        height: auto;
    }
    &-create-title {
        padding-top: 3vh;
        padding-left: 2vw;
    }
    &-container {
        margin-top: 15vh;
        margin-left: 5vw;
        width: 53vw;
        height: auto;
        border: 1px solid #478b64;
        padding: 5px;
        &-student {
            padding: 5px;
        }
    }
    &-manager {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }
}

/* Class Creater */ 

.creater-title {
    margin-top: 10vh;
    margin-bottom: 6vh;
    text-decoration: underline;
    padding-left: 4vw;
    font-size: 4vw;
}

#class-level-definer {
    margin-left: 10vw;
    font-size: 3vw;
    color: #478b64;
    border-radius: 20px;
    font-family: 'Prosto One', serif;
    border: 1px solid #478b64;
}

#letter-choice {
    margin-left: 10vw;
    width: 10vw;
    padding: 0.4vw;
    border-radius: 15px;
    border: 1px solid #478b64;
    font-size: 2vw;
}

.name-choice {
    margin-top: 1vh;
    font-size: 2vw;
    margin-left: 10vw;
    width: 15vw;
    padding: 0.4vw;
    border-radius: 15px;
    border: 1px solid #478b64;
    font-family: 'Prosto One', serif;
}

.student {
    &-manager {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        margin: 5px;
        width: 50vw;    
        max-width: 60vw;
        background-color: #e7e6e6;
    }
    &-menu {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }
}

.new-student {
    color: #478b64;
    border: 1px solid #478b64;
    border-radius: 20px;
    padding: 5px;
    font-size: 2vw;
    margin-top: 2vh;
    margin-left: 10vw;
    font-family: 'Prosto One', serif;
}

.students-list {
    margin-top: -20vh;
    margin-left: 50vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 35vw;
    height: 48vh;
    border: 1px solid #478b64;
    border-radius: 10px;
}

.model-student {
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}

.subject-notes {
    height: auto;
    padding-top: 2vh;
}

.note {
    padding-left: 5vw;
    &-menu {
        margin-top: 15vh;
        padding: 1vw;
        width: 45vw;
        height: auto;
        max-height: 39vh;
        border-left: 2px solid #478b64;
        border-right: 2px solid #478b64;
        border-bottom: 2px solid #478b64;
        font-family: 'Prosto One', serif;
        animation-name: slideLeft;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
}

.new-note {
    margin-top: 16vh;
    padding: 0.7vw;
    font-family: 'Prosto One', serif;
    border: 2px solid #478b64;
    border-radius: 20px;
    color: #478b64;
    background-color: #e7e6e6;
}

@keyframes slideLeft {
    0% {
        width: 0vw;
        color: #fff;
    }   
    100% {
        width: 45vw;
        color: #000;
    }
}
